/Answer.java
/com
/hometask2.java
/hometask3.java
/java.code-workspace
/java.java
/log.txt
/object.java
/Printer.java
/program.java
/seminar1
/seminar3
/task3
/task3.1.java
/task3.java
/task4.java
/task5
/task5.java
/task6.java
/task7.java
/text.txt